[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-yasg = "*"
django-extensions = "*"
pymongo = {extras = ["srv"], version = "*"}
djongo = "*"
dnspython = "*"
python-dotenv = "*"
pyjwt = "*"
requests = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
