[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.12"
djangorestframework = "*"
django-cors-headers = "*"
drf-yasg = "*"
django-extensions = "*"
djongo = "*"
dnspython = "*"
python-dotenv = "*"
pyjwt = "*"
requests = "*"
bson = "*"
pymongo = "==3.7.2"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
django-storages = {extras = ["google"], version = "*"}
pillow = "*"
channels = "*"
channels-redis = "*"
whitenoise = "*"
[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
